<nav class="navbar navbar-expand-lg bg-success p-3 mb-3 rounded-4 bg-opacity-50 {{displayMode}}">
  <a class="navbar-brand">Your password is: <span class="text-danger text-opacity-80 fw-bold">{{password}}</span></a>
</nav>